.body {
    font: 20px Arial, sans-serif;

}
.navbar {
    background-color: aquamarine;
}

.quem-somos {
    background-color: #E5E7E9;
    color: black;
}

.servicos {
    background-color: #E5E7E9;
    color: black;
}

.margin {
    padding-bottom: 50px;
    padding-top: 10px;
}

.parceiros {
    background-color: aquamarine;
}

.bg-footer {
    background-color: black;
    color: white;
}